<div class="weui_cells ft14 mclearn">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>房间信息</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.C_EnrolAddress"></div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>房间编号</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.C_RoomNum"></div>
    </div>
     <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>业主名称</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.C_OwnerName"></div>
    </div>
 </div>
<div class="weui_cells ft14 mclearn" style="border-top:10px solid #f5f5f5">
 <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>稽查人</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.C_PeccancyPerson"></div>
    </div>
   <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>稽查项目</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.C_Item"></div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>稽查类别</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.C_Type"></div>
    </div>
     <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>稽查备注</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.C_PeccancyRemark"></div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>稽查时间</p>
        </div>
        <div class="weui_cell_ft" ng-bind="taskInfo.D_Date"></div>
    </div>
</div>
 <a href="javascript:;" class="lookChe" id="lookChe">查看附件</a>
<div id="showPic">
	<p id="noPhoto">暂无附件</p>
</div>
<a href="javascript:;"  id="closePic">取&nbsp;&nbsp;消</a>